@layout('layouts/main')
@set('title', `Settings`)

@section('body')
<div class="font-bold text-xl">Settings</div>
  <div>
    <a href='/settings/sources'>Git Sources</a>
    <a href='/settings/destinations'>Destinations</a>
  </div>
@end