@layout('layouts/main')
@set('title', `Select a buildpack for ${request.params().name}`)

@section('body')
@include('partials/applications/name')

<div class="flex space-x-2 justify-center pt-10">
	@include('partials/buildpacks')
</div>
@end