@layout('layouts/main')
@set('title', `Select a destination for ${request.params().name}`)

@section('body')
@include('partials/applications-header')
<div class="pt-10">
    @include('partials/destinations')
</div>
@end