@layout('layouts/main')
@set('title', `Applications | ${name}`)

@section('body')

<p>Name: {{name}}</p>
<form action="/applications/{{name}}/destination" method="POST">
    <select name="destination" id="dockerDestination">
        @each (docker in dockers)
            <option value="{{docker.id}}">{{docker.name}}</option>
        @end
    </select>
    <input id="save" type="submit" value="Save">
  </form>
@end