@layout('layouts/main')
@set('title', `Applications | New`)

@section('body')
<form action="/applications/new" method="POST">
    @if(found)
    <div class="text-red-500">Application name already exists</div>
    @end
    <input name="appName" placeholder="Application name" autofocus>
    <button type="submit">Create application</button>
  </form>
@end