@layout('layouts/main')
@set('title', `Applications | ${name}`)

@section('body')
    <p>Name: {{name}} Domain: <a href="http://{{domain}}" target="_blank">{{domain}}</a></p>
    {{status}}
    <button onclick="window.location.reload(false)">Reload</button>
    @each(log in logs)
        <div>{{log.line}}</div>
    @end
@end