@layout('layouts/main')
@set('title', 'Dashboard')

@section('body')
<div>
  <div class="font-bold text-xl">Dashboard</div>
  <div class="flex space-x-2">
    <a href="/applications">Total Applications: {{applicationsCount}}</a>
  </div>
  <div class="flex space-x-2">
    Total Databases: 0
  </div>
  <div class="flex space-x-2">
    Total Services: 0
  </div>
</div>
@end