@layout('layouts/main')
@set('title', 'Dashboard')

@section('body')
<p>Applications</p>
<div class="flex space-x-2 justify-center">
  @each(app in applications)
  <p>
  <a href="/applications/{{app.name}}">
    {{ app.name }}
  </a>
</p>
  @end
</div>

@end